<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.com.chnsys.dtc.dcs.dao.CourtRoomConfigDcsDao">

	<sql id="columns">
		SHEBKZWJLJ,YUANCTSMRSBLX,GUANGQSL,SHANCSJ,ZHICYCTS,ZHICKL,KELFWQIP,FATID,YOUX,CHUANGJSJ,SHEBJC,TINGSZJBFLZ,SHANCBJ,XIANSSX,SHIFKLTSBL,COSSFXSBFQ,COSBFLZ,JIEKBS,KELFS,SHIJC,KEHUDBFLLX
	</sql>

	<resultMap type="cn.com.chnsys.dtc.dcs.entity.CourtRoomConfigDcs" id="resultMap">
				<result column="SHEBKZWJLJ" property="deviceControlFilePath" />
				<result column="YUANCTSMRSBLX" property="remoteDefaultDeviceType" />
				<result column="GUANGQSL" property="cdDriverNum" />
				<result column="SHANCSJ" property="deleteTime" />
				<result column="ZHICYCTS" property="supportRemote" />
				<result column="ZHICKL" property="supportBurn" />
				<result column="KELFWQIP" property="burnServerIP" />
				<result column="FATID" property="courtRoomId" />
				<result column="YOUX" property="valid" />
				<result column="CHUANGJSJ" property="createTime" />
				<result column="SHEBJC" property="deviceTesting" />
				<result column="TINGSZJBFLZ" property="masterServerBackRecord" />
				<result column="SHANCBJ" property="deleteFlag" />
				<result column="XIANSSX" property="sortOrder" />
				<result column="SHIFKLTSBL" property="burnNote" />
				<result column="COSSFXSBFQ" property="cosShowPlayer" />
				<result column="COSBFLZ" property="cosBackRecord" />
				<result column="JIEKBS" property="interfaceId" />
				<result column="KELFS" property="burnStyle" />
				<result column="SHIJC" property="timestamp" />
				<result column="KEHUDBFLLX" property="clientStreamType" />
			</resultMap>

	<sql id="where_sql">
		<where>1=1
						<if test="deviceControlFilePath != null">AND SHEBKZWJLJ = #{deviceControlFilePath}</if>
						<if test="remoteDefaultDeviceType != null">AND YUANCTSMRSBLX = #{remoteDefaultDeviceType}</if>
						<if test="cdDriverNum != null">AND GUANGQSL = #{cdDriverNum}</if>
						<if test="deleteTime != null">AND SHANCSJ = #{deleteTime}</if>
						<if test="supportRemote != null">AND ZHICYCTS = #{supportRemote}</if>
						<if test="supportBurn != null">AND ZHICKL = #{supportBurn}</if>
						<if test="burnServerIP != null">AND KELFWQIP = #{burnServerIP}</if>
						<if test="courtRoomId != null">AND FATID = #{courtRoomId}</if>
						<if test="valid != null">AND YOUX = #{valid}</if>
						<if test="createTime != null">AND CHUANGJSJ = #{createTime}</if>
						<if test="deviceTesting != null">AND SHEBJC = #{deviceTesting}</if>
						<if test="masterServerBackRecord != null">AND TINGSZJBFLZ = #{masterServerBackRecord}</if>
						<if test="deleteFlag != null">AND SHANCBJ = #{deleteFlag}</if>
						<if test="sortOrder != null">AND XIANSSX = #{sortOrder}</if>
						<if test="burnNote != null">AND SHIFKLTSBL = #{burnNote}</if>
						<if test="cosShowPlayer != null">AND COSSFXSBFQ = #{cosShowPlayer}</if>
						<if test="cosBackRecord != null">AND COSBFLZ = #{cosBackRecord}</if>
						<if test="interfaceId != null">AND JIEKBS = #{interfaceId}</if>
						<if test="burnStyle != null">AND KELFS = #{burnStyle}</if>
						<if test="timestamp != null">AND SHIJC = #{timestamp}</if>
						<if test="clientStreamType != null">AND KEHUDBFLLX = #{clientStreamType}</if>
					</where>
	</sql>

	<insert id="insertRecord" parameterType="cn.com.chnsys.dtc.dcs.entity.CourtRoomConfigDcs">
		INSERT INTO FY_KAITPZ (FATID
									<if test="deviceControlFilePath != null">,SHEBKZWJLJ</if>
												<if test="remoteDefaultDeviceType != null">,YUANCTSMRSBLX</if>
												<if test="cdDriverNum != null">,GUANGQSL</if>
												<if test="deleteTime != null">,SHANCSJ</if>
												<if test="supportRemote != null">,ZHICYCTS</if>
												<if test="supportBurn != null">,ZHICKL</if>
												<if test="burnServerIP != null">,KELFWQIP</if>
																		<if test="valid != null">,YOUX</if>
												<if test="createTime != null">,CHUANGJSJ</if>
												<if test="deviceTesting != null">,SHEBJC</if>
												<if test="masterServerBackRecord != null">,TINGSZJBFLZ</if>
												<if test="deleteFlag != null">,SHANCBJ</if>
												<if test="sortOrder != null">,XIANSSX</if>
												<if test="burnNote != null">,SHIFKLTSBL</if>
												<if test="cosShowPlayer != null">,COSSFXSBFQ</if>
												<if test="cosBackRecord != null">,COSBFLZ</if>
												<if test="interfaceId != null">,JIEKBS</if>
												<if test="burnStyle != null">,KELFS</if>
												<if test="timestamp != null">,SHIJC</if>
												<if test="clientStreamType != null">,KEHUDBFLLX</if>
								)VALUES(#{courtRoomId}
									<if test="deviceControlFilePath != null">,#{deviceControlFilePath}</if>
												<if test="remoteDefaultDeviceType != null">,#{remoteDefaultDeviceType}</if>
												<if test="cdDriverNum != null">,#{cdDriverNum}</if>
												<if test="deleteTime != null">,#{deleteTime}</if>
												<if test="supportRemote != null">,#{supportRemote}</if>
												<if test="supportBurn != null">,#{supportBurn}</if>
												<if test="burnServerIP != null">,#{burnServerIP}</if>
																		<if test="valid != null">,#{valid}</if>
												<if test="createTime != null">,#{createTime}</if>
												<if test="deviceTesting != null">,#{deviceTesting}</if>
												<if test="masterServerBackRecord != null">,#{masterServerBackRecord}</if>
												<if test="deleteFlag != null">,#{deleteFlag}</if>
												<if test="sortOrder != null">,#{sortOrder}</if>
												<if test="burnNote != null">,#{burnNote}</if>
												<if test="cosShowPlayer != null">,#{cosShowPlayer}</if>
												<if test="cosBackRecord != null">,#{cosBackRecord}</if>
												<if test="interfaceId != null">,#{interfaceId}</if>
												<if test="burnStyle != null">,#{burnStyle}</if>
												<if test="timestamp != null">,#{timestamp}</if>
												<if test="clientStreamType != null">,#{clientStreamType}</if>
								)
	</insert>
	
	<insert id="insertRecords" parameterType="java.util.List">
		INSERT INTO FY_KAITPZ (FATID
									, SHEBKZWJLJ
												, YUANCTSMRSBLX
												, GUANGQSL
												, SHANCSJ
												, ZHICYCTS
												, ZHICKL
												, KELFWQIP
																		, YOUX
												, CHUANGJSJ
												, SHEBJC
												, TINGSZJBFLZ
												, SHANCBJ
												, XIANSSX
												, SHIFKLTSBL
												, COSSFXSBFQ
												, COSBFLZ
												, JIEKBS
												, KELFS
												, SHIJC
												, KEHUDBFLLX
								)VALUES
		   <foreach collection="list" item="item" index="index" separator="," >  
       		(#{item.courtRoomId}
									, #{item.deviceControlFilePath}
												, #{item.remoteDefaultDeviceType}
												, #{item.cdDriverNum}
												, #{item.deleteTime}
												, #{item.supportRemote}
												, #{item.supportBurn}
												, #{item.burnServerIP}
																		, #{item.valid}
												, #{item.createTime}
												, #{item.deviceTesting}
												, #{item.masterServerBackRecord}
												, #{item.deleteFlag}
												, #{item.sortOrder}
												, #{item.burnNote}
												, #{item.cosShowPlayer}
												, #{item.cosBackRecord}
												, #{item.interfaceId}
												, #{item.burnStyle}
												, #{item.timestamp}
												, #{item.clientStreamType}
						)
    		</foreach>  
	</insert>

	<update id="updateRecord" parameterType="cn.com.chnsys.dtc.dcs.entity.CourtRoomConfigDcs">
		UPDATE FY_KAITPZ SET
		 <trim suffix="" suffixOverrides=",">
						<if test="deviceControlFilePath != null">SHEBKZWJLJ = #{deviceControlFilePath},</if>
								<if test="remoteDefaultDeviceType != null">YUANCTSMRSBLX = #{remoteDefaultDeviceType},</if>
								<if test="cdDriverNum != null">GUANGQSL = #{cdDriverNum},</if>
								<if test="deleteTime != null">SHANCSJ = #{deleteTime},</if>
								<if test="supportRemote != null">ZHICYCTS = #{supportRemote},</if>
								<if test="supportBurn != null">ZHICKL = #{supportBurn},</if>
								<if test="burnServerIP != null">KELFWQIP = #{burnServerIP},</if>
												<if test="valid != null">YOUX = #{valid},</if>
								<if test="createTime != null">CHUANGJSJ = #{createTime},</if>
								<if test="deviceTesting != null">SHEBJC = #{deviceTesting},</if>
								<if test="masterServerBackRecord != null">TINGSZJBFLZ = #{masterServerBackRecord},</if>
								<if test="deleteFlag != null">SHANCBJ = #{deleteFlag},</if>
								<if test="sortOrder != null">XIANSSX = #{sortOrder},</if>
								<if test="burnNote != null">SHIFKLTSBL = #{burnNote},</if>
								<if test="cosShowPlayer != null">COSSFXSBFQ = #{cosShowPlayer},</if>
								<if test="cosBackRecord != null">COSBFLZ = #{cosBackRecord},</if>
								<if test="interfaceId != null">JIEKBS = #{interfaceId},</if>
								<if test="burnStyle != null">KELFS = #{burnStyle},</if>
								<if test="timestamp != null">SHIJC = #{timestamp},</if>
								<if test="clientStreamType != null">KEHUDBFLLX = #{clientStreamType},</if>
				</trim>
		WHERE FATID = #{courtRoomId}
	</update>

	<delete id="deleteRecordById" parameterType="string">
		DELETE FROM
		FY_KAITPZ where FATID = #{id}
	</delete>
	
	<delete id="deleteRecordsByIds">
		DELETE FROM
		FY_KAITPZ where FATID in (
		 <foreach collection="array" item="id" index="index" separator="," >  
		 #{id}
   		 </foreach>)
	</delete>
	
	<select id="getRecords" parameterType="cn.com.chnsys.dtc.dcs.entity.CourtRoomConfigDcs" resultMap="resultMap">
		SELECT
		<include refid="columns" />
		FROM FY_KAITPZ
		<include refid="where_sql" />
	</select>

	<select id="getRecordById" parameterType="string" resultMap="resultMap">
		SELECT
		<include refid="columns" />
		FROM FY_KAITPZ
		WHERE FATID = #{id}
	</select>

	<select id="getRecordByInterfaceId" resultMap="resultMap">
		SELECT
		<include refid="columns" />
		FROM FY_KAITPZ
		WHERE DAIM = #{0} AND JIEKBS = #{1}
	</select>
	
	<select id="getRecordsByIds"  resultMap="resultMap">
		SELECT
		<include refid="columns" />
		FROM FY_KAITPZ
		WHERE FATID in  (
		<foreach collection="array" item="id" index="index" separator="," >  
		 #{id}
   		 </foreach>)
	</select>

	<select id="getTotalRecord" parameterType="cn.com.chnsys.dtc.dcs.entity.CourtRoomConfigDcs" resultType="java.lang.Integer">
		select count(FATID) from
		FY_KAITPZ 
		<include refid="where_sql" />
	</select>
	
		<select id="getMaxRecord" resultType="java.lang.Integer">
		select max(XIANSSX) from
		FY_KAITPZ
	</select>
	</mapper>