<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.com.chnsys.dtc.dcs.dao.DepartmentDcsDao">

	<sql id="columns">
		SHANCSJ,SHIFYWBM,FUJDID,YOUX,CHUANGJSJ,SHANCBJ,XIANSSX,SHIFYZJD,MIAOS,BUMMC,BUMID,JIEKBS,DAIM,SHIJC
	</sql>
    <sql id="de_column">
		BUMMC,BUMID,DAIM
	</sql>
	<resultMap type="cn.com.chnsys.dtc.dcs.entity.DepartmentDcs" id="resultMap">
				<result column="SHANCSJ" property="deleteTime" />
				<result column="SHIFYWBM" property="isBusniss" />
				<result column="FUJDID" property="parentId" />
				<result column="YOUX" property="valid" />
				<result column="CHUANGJSJ" property="createTime" />
				<result column="SHANCBJ" property="deleteFlag" />
				<result column="XIANSSX" property="sortOrder" />
				<result column="SHIFYZJD" property="isLeaf" />
				<result column="MIAOS" property="description" />
				<result column="BUMMC" property="departmentName" />
				<result column="BUMID" property="departmentId" />
				<result column="JIEKBS" property="interfaceId" />
				<result column="DAIM" property="unitCode" />
				<result column="SHIJC" property="timestamp" />
			</resultMap>

	<sql id="where_sql">
		<where>1=1
						<if test="deleteTime != null">AND SHANCSJ = #{deleteTime}</if>
						<if test="isBusniss != null">AND SHIFYWBM = #{isBusniss}</if>
						<if test="parentId != null">AND FUJDID = #{parentId}</if>
						<if test="valid != null">AND YOUX = #{valid}</if>
						<if test="createTime != null">AND CHUANGJSJ = #{createTime}</if>
						<if test="deleteFlag != null">AND SHANCBJ = #{deleteFlag}</if>
						<if test="sortOrder != null">AND XIANSSX = #{sortOrder}</if>
						<if test="isLeaf != null">AND SHIFYZJD = #{isLeaf}</if>
						<if test="description != null">AND MIAOS = #{description}</if>
						<if test="departmentName != null">AND BUMMC = #{departmentName}</if>
						<if test="departmentId != null">AND BUMID = #{departmentId}</if>
						<if test="interfaceId != null">AND JIEKBS = #{interfaceId}</if>
						<if test="unitCode != null">AND DAIM = #{unitCode}</if>
						<if test="timestamp != null">AND SHIJC = #{timestamp}</if>
					</where>
	</sql>

	<insert id="insertRecord" parameterType="cn.com.chnsys.dtc.dcs.entity.DepartmentDcs">
		INSERT INTO FY_BUM (BUMID
									<if test="deleteTime != null">,SHANCSJ</if>
												<if test="isBusniss != null">,SHIFYWBM</if>
												<if test="parentId != null">,FUJDID</if>
												<if test="valid != null">,YOUX</if>
												<if test="createTime != null">,CHUANGJSJ</if>
												<if test="deleteFlag != null">,SHANCBJ</if>
												<if test="sortOrder != null">,XIANSSX</if>
												<if test="isLeaf != null">,SHIFYZJD</if>
												<if test="description != null">,MIAOS</if>
												<if test="departmentName != null">,BUMMC</if>
																		<if test="interfaceId != null">,JIEKBS</if>
												<if test="unitCode != null">,DAIM</if>
												<if test="timestamp != null">,SHIJC</if>
								)VALUES(#{departmentId}
									<if test="deleteTime != null">,#{deleteTime}</if>
												<if test="isBusniss != null">,#{isBusniss}</if>
												<if test="parentId != null">,#{parentId}</if>
												<if test="valid != null">,#{valid}</if>
												<if test="createTime != null">,#{createTime}</if>
												<if test="deleteFlag != null">,#{deleteFlag}</if>
												<if test="sortOrder != null">,#{sortOrder}</if>
												<if test="isLeaf != null">,#{isLeaf}</if>
												<if test="description != null">,#{description}</if>
												<if test="departmentName != null">,#{departmentName}</if>
																		<if test="interfaceId != null">,#{interfaceId}</if>
												<if test="unitCode != null">,#{unitCode}</if>
												<if test="timestamp != null">,#{timestamp}</if>
								)
	</insert>
	
	<insert id="insertRecords" parameterType="java.util.List">
		INSERT INTO FY_BUM (BUMID
									, SHANCSJ
												, SHIFYWBM
												, FUJDID
												, YOUX
												, CHUANGJSJ
												, SHANCBJ
												, XIANSSX
												, SHIFYZJD
												, MIAOS
												, BUMMC
																		, JIEKBS
												, DAIM
												, SHIJC
								)VALUES
		   <foreach collection="list" item="item" index="index" separator="," >  
       		(#{item.departmentId}
									, #{item.deleteTime}
												, #{item.isBusniss}
												, #{item.parentId}
												, #{item.valid}
												, #{item.createTime}
												, #{item.deleteFlag}
												, #{item.sortOrder}
												, #{item.isLeaf}
												, #{item.description}
												, #{item.departmentName}
																		, #{item.interfaceId}
												, #{item.unitCode}
												, #{item.timestamp}
						)
    		</foreach>  
	</insert>

	<update id="updateRecord" parameterType="cn.com.chnsys.dtc.dcs.entity.DepartmentDcs">
		UPDATE FY_BUM SET
		 <trim suffix="" suffixOverrides=",">
						<if test="deleteTime != null">SHANCSJ = #{deleteTime},</if>
								<if test="isBusniss != null">SHIFYWBM = #{isBusniss},</if>
								<if test="parentId != null">FUJDID = #{parentId},</if>
								<if test="valid != null">YOUX = #{valid},</if>
								<if test="createTime != null">CHUANGJSJ = #{createTime},</if>
								<if test="deleteFlag != null">SHANCBJ = #{deleteFlag},</if>
								<if test="sortOrder != null">XIANSSX = #{sortOrder},</if>
								<if test="isLeaf != null">SHIFYZJD = #{isLeaf},</if>
								<if test="description != null">MIAOS = #{description},</if>
								<if test="departmentName != null">BUMMC = #{departmentName},</if>
												<if test="interfaceId != null">JIEKBS = #{interfaceId},</if>
								<if test="unitCode != null">DAIM = #{unitCode},</if>
								<if test="timestamp != null">SHIJC = #{timestamp},</if>
				</trim>
		WHERE BUMID = #{departmentId}
	</update>

	<delete id="deleteRecordById" parameterType="string">
		DELETE FROM
		FY_BUM where BUMID = #{id}
	</delete>
	
	<delete id="deleteRecordsByIds">
		DELETE FROM
		FY_BUM where BUMID in (
		 <foreach collection="array" item="id" index="index" separator="," >  
		 #{id}
   		 </foreach>)
	</delete>
	
	<select id="getRecords" parameterType="cn.com.chnsys.dtc.dcs.entity.DepartmentDcs" resultMap="resultMap">
		SELECT
		<include refid="columns" />
		FROM FY_BUM
		<include refid="where_sql" />
	</select>

	<select id="getRecordById" parameterType="string" resultMap="resultMap">
		SELECT
		<include refid="columns" />
		FROM FY_BUM
		WHERE BUMID = #{id}
	</select>

	<select id="getRecordByInterfaceId" resultMap="resultMap">
		SELECT
		<include refid="columns" />
		FROM FY_BUM
		WHERE DAIM = #{0} AND JIEKBS = #{1}
	</select>
	<!-- 获得根部门结构信息 -->
	<select id="getRootDepartments" resultMap="resultMap" parameterType="cn.com.chnsys.dtc.dcs.entity.DepartmentDcs">
		SELECT <include refid="de_column"/> FROM FY_BUM where FUJDID = #{parentId}
		AND DAIM = #{unitCode}
	</select>
	<!-- 根据根部门Id获取 所有子部门集合-->
	<select id="getChildrenDepartments" resultMap="resultMap" parameterType="string">
		SELECT <include refid="de_column"/> FROM FY_BUM where FUJDID = #{parentId}
	</select>
	
	<select id="getRecordsByIds"  resultMap="resultMap">
		SELECT
		<include refid="columns" />
		FROM FY_BUM
		WHERE BUMID in  (
		<foreach collection="array" item="id" index="index" separator="," >  
		 #{id}
   		 </foreach>)
	</select>

	<select id="getTotalRecord" parameterType="cn.com.chnsys.dtc.dcs.entity.DepartmentDcs" resultType="java.lang.Integer">
		select count(BUMID) from
		FY_BUM 
		<include refid="where_sql" />
	</select>
	
		<select id="getMaxRecord" resultType="java.lang.Integer">
		select max(XIANSSX) from
		FY_BUM
	</select>
	</mapper>