<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.com.chnsys.dtc.dcs.dao.EvidenceInfoDcsDao">

	<sql id="columns">
		JUZRID,ZHENGJMC,JUZRMC,ZHENGJSS,QUZSJ,RENZLY,ZHENGJLX,QUZQD,JUZRQ,WEITJD,ZHENGJXXID,DANGTRZ,AJID,BURZLY,JIEKBS,FABBB,RENZJG,SHANCSJ,ZHIZTC,SHOUZRID,XUH,QUZDD,JIAOHRQ,YUANWYJ,CHUANGJSJ,SHANCBJ,XIANSSX,JUZMD,SHIJC
	</sql>

	<resultMap type="cn.com.chnsys.dtc.dcs.entity.EvidenceInfoDcs" id="resultMap">
				<result column="JUZRID" property="proofPersonId" />
				<result column="ZHENGJMC" property="evidenceName" />
				<result column="JUZRMC" property="proofPersonName" />
				<result column="ZHENGJSS" property="evidenceFact" />
				<result column="QUZSJ" property="obtainEvidenceTime" />
				<result column="RENZLY" property="attestReason" />
				<result column="ZHENGJLX" property="evidenceType" />
				<result column="QUZQD" property="obtainEvidenceChannel" />
				<result column="JUZRQ" property="proofDate" />
				<result column="WEITJD" property="entrustAppraisal" />
				<result column="ZHENGJXXID" property="evidenceInfoID" />
				<result column="DANGTRZ" property="attestedInCourt" />
				<result column="AJID" property="caseId" />
				<result column="BURZLY" property="NotAttestedReason" />
				<result column="JIEKBS" property="interfaceId" />
				<result column="FABBB" property="courtStdVersion" />
				<result column="RENZJG" property="attestationResult" />
				<result column="SHANCSJ" property="deleteTime" />
				<result column="ZHIZTC" property="questionWitnessCourtNum" />
				<result column="SHOUZRID" property="getProofPersonId" />
				<result column="XUH" property="num" />
				<result column="QUZDD" property="obtainEvidenceSite" />
				<result column="JIAOHRQ" property="transferDate" />
				<result column="YUANWYJ" property="originalEvidence" />
				<result column="CHUANGJSJ" property="createTime" />
				<result column="SHANCBJ" property="deleteFlag" />
				<result column="XIANSSX" property="sortOrder" />
				<result column="JUZMD" property="proofPurpose" />
				<result column="SHIJC" property="timestamp" />
			</resultMap>

	<sql id="where_sql">
		<where>1=1
						<if test="proofPersonId != null">AND JUZRID = #{proofPersonId}</if>
						<if test="evidenceName != null">AND ZHENGJMC = #{evidenceName}</if>
						<if test="proofPersonName != null">AND JUZRMC = #{proofPersonName}</if>
						<if test="evidenceFact != null">AND ZHENGJSS = #{evidenceFact}</if>
						<if test="obtainEvidenceTime != null">AND QUZSJ = #{obtainEvidenceTime}</if>
						<if test="attestReason != null">AND RENZLY = #{attestReason}</if>
						<if test="evidenceType != null">AND ZHENGJLX = #{evidenceType}</if>
						<if test="obtainEvidenceChannel != null">AND QUZQD = #{obtainEvidenceChannel}</if>
						<if test="proofDate != null">AND JUZRQ = #{proofDate}</if>
						<if test="entrustAppraisal != null">AND WEITJD = #{entrustAppraisal}</if>
						<if test="evidenceInfoID != null">AND ZHENGJXXID = #{evidenceInfoID}</if>
						<if test="attestedInCourt != null">AND DANGTRZ = #{attestedInCourt}</if>
						<if test="caseId != null">AND AJID = #{caseId}</if>
						<if test="NotAttestedReason != null">AND BURZLY = #{NotAttestedReason}</if>
						<if test="interfaceId != null">AND JIEKBS = #{interfaceId}</if>
						<if test="courtStdVersion != null">AND FABBB = #{courtStdVersion}</if>
						<if test="attestationResult != null">AND RENZJG = #{attestationResult}</if>
						<if test="deleteTime != null">AND SHANCSJ = #{deleteTime}</if>
						<if test="questionWitnessCourtNum != null">AND ZHIZTC = #{questionWitnessCourtNum}</if>
						<if test="getProofPersonId != null">AND SHOUZRID = #{getProofPersonId}</if>
						<if test="num != null">AND XUH = #{num}</if>
						<if test="obtainEvidenceSite != null">AND QUZDD = #{obtainEvidenceSite}</if>
						<if test="transferDate != null">AND JIAOHRQ = #{transferDate}</if>
						<if test="originalEvidence != null">AND YUANWYJ = #{originalEvidence}</if>
						<if test="createTime != null">AND CHUANGJSJ = #{createTime}</if>
						<if test="deleteFlag != null">AND SHANCBJ = #{deleteFlag}</if>
						<if test="sortOrder != null">AND XIANSSX = #{sortOrder}</if>
						<if test="proofPurpose != null">AND JUZMD = #{proofPurpose}</if>
						<if test="timestamp != null">AND SHIJC = #{timestamp}</if>
					</where>
	</sql>

	<insert id="insertRecord" parameterType="cn.com.chnsys.dtc.dcs.entity.EvidenceInfoDcs">
		INSERT INTO FY_ZHENGJXX (ZHENGJXXID
									<if test="proofPersonId != null">,JUZRID</if>
												<if test="evidenceName != null">,ZHENGJMC</if>
												<if test="proofPersonName != null">,JUZRMC</if>
												<if test="evidenceFact != null">,ZHENGJSS</if>
												<if test="obtainEvidenceTime != null">,QUZSJ</if>
												<if test="attestReason != null">,RENZLY</if>
												<if test="evidenceType != null">,ZHENGJLX</if>
												<if test="obtainEvidenceChannel != null">,QUZQD</if>
												<if test="proofDate != null">,JUZRQ</if>
												<if test="entrustAppraisal != null">,WEITJD</if>
																		<if test="attestedInCourt != null">,DANGTRZ</if>
												<if test="caseId != null">,AJID</if>
												<if test="NotAttestedReason != null">,BURZLY</if>
												<if test="interfaceId != null">,JIEKBS</if>
												<if test="courtStdVersion != null">,FABBB</if>
												<if test="attestationResult != null">,RENZJG</if>
												<if test="deleteTime != null">,SHANCSJ</if>
												<if test="questionWitnessCourtNum != null">,ZHIZTC</if>
												<if test="getProofPersonId != null">,SHOUZRID</if>
												<if test="num != null">,XUH</if>
												<if test="obtainEvidenceSite != null">,QUZDD</if>
												<if test="transferDate != null">,JIAOHRQ</if>
												<if test="originalEvidence != null">,YUANWYJ</if>
												<if test="createTime != null">,CHUANGJSJ</if>
												<if test="deleteFlag != null">,SHANCBJ</if>
												<if test="sortOrder != null">,XIANSSX</if>
												<if test="proofPurpose != null">,JUZMD</if>
												<if test="timestamp != null">,SHIJC</if>
								)VALUES(#{evidenceInfoID}
									<if test="proofPersonId != null">,#{proofPersonId}</if>
												<if test="evidenceName != null">,#{evidenceName}</if>
												<if test="proofPersonName != null">,#{proofPersonName}</if>
												<if test="evidenceFact != null">,#{evidenceFact}</if>
												<if test="obtainEvidenceTime != null">,#{obtainEvidenceTime}</if>
												<if test="attestReason != null">,#{attestReason}</if>
												<if test="evidenceType != null">,#{evidenceType}</if>
												<if test="obtainEvidenceChannel != null">,#{obtainEvidenceChannel}</if>
												<if test="proofDate != null">,#{proofDate}</if>
												<if test="entrustAppraisal != null">,#{entrustAppraisal}</if>
																		<if test="attestedInCourt != null">,#{attestedInCourt}</if>
												<if test="caseId != null">,#{caseId}</if>
												<if test="NotAttestedReason != null">,#{NotAttestedReason}</if>
												<if test="interfaceId != null">,#{interfaceId}</if>
												<if test="courtStdVersion != null">,#{courtStdVersion}</if>
												<if test="attestationResult != null">,#{attestationResult}</if>
												<if test="deleteTime != null">,#{deleteTime}</if>
												<if test="questionWitnessCourtNum != null">,#{questionWitnessCourtNum}</if>
												<if test="getProofPersonId != null">,#{getProofPersonId}</if>
												<if test="num != null">,#{num}</if>
												<if test="obtainEvidenceSite != null">,#{obtainEvidenceSite}</if>
												<if test="transferDate != null">,#{transferDate}</if>
												<if test="originalEvidence != null">,#{originalEvidence}</if>
												<if test="createTime != null">,#{createTime}</if>
												<if test="deleteFlag != null">,#{deleteFlag}</if>
												<if test="sortOrder != null">,#{sortOrder}</if>
												<if test="proofPurpose != null">,#{proofPurpose}</if>
												<if test="timestamp != null">,#{timestamp}</if>
								)
	</insert>
	
	<insert id="insertRecords" parameterType="java.util.List">
		INSERT INTO FY_ZHENGJXX (ZHENGJXXID
									, JUZRID
												, ZHENGJMC
												, JUZRMC
												, ZHENGJSS
												, QUZSJ
												, RENZLY
												, ZHENGJLX
												, QUZQD
												, JUZRQ
												, WEITJD
																		, DANGTRZ
												, AJID
												, BURZLY
												, JIEKBS
												, FABBB
												, RENZJG
												, SHANCSJ
												, ZHIZTC
												, SHOUZRID
												, XUH
												, QUZDD
												, JIAOHRQ
												, YUANWYJ
												, CHUANGJSJ
												, SHANCBJ
												, XIANSSX
												, JUZMD
												, SHIJC
								)VALUES
		   <foreach collection="list" item="item" index="index" separator="," >  
       		(#{item.evidenceInfoID}
									, #{item.proofPersonId}
												, #{item.evidenceName}
												, #{item.proofPersonName}
												, #{item.evidenceFact}
												, #{item.obtainEvidenceTime}
												, #{item.attestReason}
												, #{item.evidenceType}
												, #{item.obtainEvidenceChannel}
												, #{item.proofDate}
												, #{item.entrustAppraisal}
																		, #{item.attestedInCourt}
												, #{item.caseId}
												, #{item.NotAttestedReason}
												, #{item.interfaceId}
												, #{item.courtStdVersion}
												, #{item.attestationResult}
												, #{item.deleteTime}
												, #{item.questionWitnessCourtNum}
												, #{item.getProofPersonId}
												, #{item.num}
												, #{item.obtainEvidenceSite}
												, #{item.transferDate}
												, #{item.originalEvidence}
												, #{item.createTime}
												, #{item.deleteFlag}
												, #{item.sortOrder}
												, #{item.proofPurpose}
												, #{item.timestamp}
						)
    		</foreach>  
	</insert>

	<update id="updateRecord" parameterType="cn.com.chnsys.dtc.dcs.entity.EvidenceInfoDcs">
		UPDATE FY_ZHENGJXX SET
		 <trim suffix="" suffixOverrides=",">
						<if test="proofPersonId != null">JUZRID = #{proofPersonId},</if>
								<if test="evidenceName != null">ZHENGJMC = #{evidenceName},</if>
								<if test="proofPersonName != null">JUZRMC = #{proofPersonName},</if>
								<if test="evidenceFact != null">ZHENGJSS = #{evidenceFact},</if>
								<if test="obtainEvidenceTime != null">QUZSJ = #{obtainEvidenceTime},</if>
								<if test="attestReason != null">RENZLY = #{attestReason},</if>
								<if test="evidenceType != null">ZHENGJLX = #{evidenceType},</if>
								<if test="obtainEvidenceChannel != null">QUZQD = #{obtainEvidenceChannel},</if>
								<if test="proofDate != null">JUZRQ = #{proofDate},</if>
								<if test="entrustAppraisal != null">WEITJD = #{entrustAppraisal},</if>
												<if test="attestedInCourt != null">DANGTRZ = #{attestedInCourt},</if>
								<if test="caseId != null">AJID = #{caseId},</if>
								<if test="NotAttestedReason != null">BURZLY = #{NotAttestedReason},</if>
								<if test="interfaceId != null">JIEKBS = #{interfaceId},</if>
								<if test="courtStdVersion != null">FABBB = #{courtStdVersion},</if>
								<if test="attestationResult != null">RENZJG = #{attestationResult},</if>
								<if test="deleteTime != null">SHANCSJ = #{deleteTime},</if>
								<if test="questionWitnessCourtNum != null">ZHIZTC = #{questionWitnessCourtNum},</if>
								<if test="getProofPersonId != null">SHOUZRID = #{getProofPersonId},</if>
								<if test="num != null">XUH = #{num},</if>
								<if test="obtainEvidenceSite != null">QUZDD = #{obtainEvidenceSite},</if>
								<if test="transferDate != null">JIAOHRQ = #{transferDate},</if>
								<if test="originalEvidence != null">YUANWYJ = #{originalEvidence},</if>
								<if test="createTime != null">CHUANGJSJ = #{createTime},</if>
								<if test="deleteFlag != null">SHANCBJ = #{deleteFlag},</if>
								<if test="sortOrder != null">XIANSSX = #{sortOrder},</if>
								<if test="proofPurpose != null">JUZMD = #{proofPurpose},</if>
								<if test="timestamp != null">SHIJC = #{timestamp},</if>
				</trim>
		WHERE ZHENGJXXID = #{evidenceInfoID}
	</update>

	<delete id="deleteRecordById" parameterType="string">
		DELETE FROM
		FY_ZHENGJXX where ZHENGJXXID = #{id}
	</delete>
	
	<delete id="deleteRecordsByIds">
		DELETE FROM
		FY_ZHENGJXX where ZHENGJXXID in (
		 <foreach collection="array" item="id" index="index" separator="," >  
		 #{id}
   		 </foreach>)
	</delete>
	
	<select id="getRecords" parameterType="cn.com.chnsys.dtc.dcs.entity.EvidenceInfoDcs" resultMap="resultMap">
		SELECT
		<include refid="columns" />
		FROM FY_ZHENGJXX
		<include refid="where_sql" />
	</select>

	<select id="getRecordById" parameterType="string" resultMap="resultMap">
		SELECT
		<include refid="columns" />
		FROM FY_ZHENGJXX
		WHERE ZHENGJXXID = #{id}
	</select>
	
	<select id="getRecordsByIds"  resultMap="resultMap">
		SELECT
		<include refid="columns" />
		FROM FY_ZHENGJXX
		WHERE ZHENGJXXID in  (
		<foreach collection="array" item="id" index="index" separator="," >  
		 #{id}
   		 </foreach>)
	</select>

	<select id="getTotalRecord" parameterType="cn.com.chnsys.dtc.dcs.entity.EvidenceInfoDcs" resultType="java.lang.Integer">
		select count(ZHENGJXXID) from
		FY_ZHENGJXX 
		<include refid="where_sql" />
	</select>

	<select id="getMaxRecord" resultType="java.lang.Integer">
		select max(xianssx) from
		FY_ZHENGJXX
	</select>
</mapper>