<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.com.chnsys.dtc.dcs.dao.TrialBurnConfigDcsDao">

	<sql id="columns">
		YOUX,CHUANGJSJ,SHANCSJ,SHANCBJ,XIANSSX,FATID,JIEKBS,CUNCLJID,SHIJC
	</sql>

	<resultMap type="cn.com.chnsys.dtc.dcs.entity.TrialBurnConfigDcs" id="resultMap">
				<result column="YOUX" property="valid" />
				<result column="CHUANGJSJ" property="createTime" />
				<result column="SHANCSJ" property="deleteTime" />
				<result column="SHANCBJ" property="deleteFlag" />
				<result column="XIANSSX" property="sortOrder" />
				<result column="FATID" property="courtRoomId" />
				<result column="JIEKBS" property="interfaceId" />
				<result column="CUNCLJID" property="storageId" />
				<result column="SHIJC" property="timestamp" />
			</resultMap>

	<sql id="where_sql">
		<where>1=1
						<if test="valid != null">AND YOUX = #{valid}</if>
						<if test="createTime != null">AND CHUANGJSJ = #{createTime}</if>
						<if test="deleteTime != null">AND SHANCSJ = #{deleteTime}</if>
						<if test="deleteFlag != null">AND SHANCBJ = #{deleteFlag}</if>
						<if test="sortOrder != null">AND XIANSSX = #{sortOrder}</if>
						<if test="courtRoomId != null">AND FATID = #{courtRoomId}</if>
						<if test="interfaceId != null">AND JIEKBS = #{interfaceId}</if>
						<if test="storageId != null">AND CUNCLJID = #{storageId}</if>
						<if test="timestamp != null">AND SHIJC = #{timestamp}</if>
					</where>
	</sql>

	<insert id="insertRecord" parameterType="cn.com.chnsys.dtc.dcs.entity.TrialBurnConfigDcs">
		INSERT INTO FY_TINGSLZPZ (FATID
									<if test="valid != null">,YOUX</if>
												<if test="createTime != null">,CHUANGJSJ</if>
												<if test="deleteTime != null">,SHANCSJ</if>
												<if test="deleteFlag != null">,SHANCBJ</if>
												<if test="sortOrder != null">,XIANSSX</if>
																		<if test="interfaceId != null">,JIEKBS</if>
												<if test="storageId != null">,CUNCLJID</if>
												<if test="timestamp != null">,SHIJC</if>
								)VALUES(#{courtRoomId}
									<if test="valid != null">,#{valid}</if>
												<if test="createTime != null">,#{createTime}</if>
												<if test="deleteTime != null">,#{deleteTime}</if>
												<if test="deleteFlag != null">,#{deleteFlag}</if>
												<if test="sortOrder != null">,#{sortOrder}</if>
																		<if test="interfaceId != null">,#{interfaceId}</if>
												<if test="storageId != null">,#{storageId}</if>
												<if test="timestamp != null">,#{timestamp}</if>
								)
	</insert>
	
	<insert id="insertRecords" parameterType="java.util.List">
		INSERT INTO FY_TINGSLZPZ (FATID
									, YOUX
												, CHUANGJSJ
												, SHANCSJ
												, SHANCBJ
												, XIANSSX
																		, JIEKBS
												, CUNCLJID
												, SHIJC
								)VALUES
		   <foreach collection="list" item="item" index="index" separator="," >  
       		(#{item.courtRoomId}
									, #{item.valid}
												, #{item.createTime}
												, #{item.deleteTime}
												, #{item.deleteFlag}
												, #{item.sortOrder}
																		, #{item.interfaceId}
												, #{item.storageId}
												, #{item.timestamp}
						)
    		</foreach>  
	</insert>

	<update id="updateRecord" parameterType="cn.com.chnsys.dtc.dcs.entity.TrialBurnConfigDcs">
		UPDATE FY_TINGSLZPZ SET
		 <trim suffix="" suffixOverrides=",">
						<if test="valid != null">YOUX = #{valid},</if>
								<if test="createTime != null">CHUANGJSJ = #{createTime},</if>
								<if test="deleteTime != null">SHANCSJ = #{deleteTime},</if>
								<if test="deleteFlag != null">SHANCBJ = #{deleteFlag},</if>
								<if test="sortOrder != null">XIANSSX = #{sortOrder},</if>
												<if test="interfaceId != null">JIEKBS = #{interfaceId},</if>
								<if test="storageId != null">CUNCLJID = #{storageId},</if>
								<if test="timestamp != null">SHIJC = #{timestamp},</if>
				</trim>
		WHERE FATID = #{courtRoomId}
	</update>

	<delete id="deleteRecordById" parameterType="string">
		DELETE FROM
		FY_TINGSLZPZ where FATID = #{id}
	</delete>
	
	<delete id="deleteRecordsByIds">
		DELETE FROM
		FY_TINGSLZPZ where FATID in (
		 <foreach collection="array" item="id" index="index" separator="," >  
		 #{id}
   		 </foreach>)
	</delete>
	
	<select id="getRecords" parameterType="cn.com.chnsys.dtc.dcs.entity.TrialBurnConfigDcs" resultMap="resultMap">
		SELECT
		<include refid="columns" />
		FROM FY_TINGSLZPZ
		<include refid="where_sql" />
	</select>

	<select id="getRecordById" parameterType="string" resultMap="resultMap">
		SELECT
		<include refid="columns" />
		FROM FY_TINGSLZPZ
		WHERE FATID = #{id}
	</select>

	<select id="getRecordByInterfaceId" resultMap="resultMap">
		SELECT
		<include refid="columns" />
		FROM FY_TINGSLZPZ
		WHERE daim = #{0} AND jiekbs = #{1}
	</select>
	
	<select id="getRecordsByIds"  resultMap="resultMap">
		SELECT
		<include refid="columns" />
		FROM FY_TINGSLZPZ
		WHERE FATID in  (
		<foreach collection="array" item="id" index="index" separator="," >  
		 #{id}
   		 </foreach>)
	</select>

	<select id="getTotalRecord" parameterType="cn.com.chnsys.dtc.dcs.entity.TrialBurnConfigDcs" resultType="java.lang.Integer">
		select count(FATID) from
		FY_TINGSLZPZ 
		<include refid="where_sql" />
	</select>
	
		<select id="getMaxRecord" resultType="java.lang.Integer">
		select max(xianssx) from
		FY_TINGSLZPZ
	</select>
	</mapper>